////
/// @author Vsevolod Kurochka
/// @group Offset
////

/// Padding
/// @param {Length} $top - Top padding
/// @param {Length} $right - Right padding
/// @param {Length} $bottom - Bottom padding
/// @param {Length} $left - Left padding
=p($top, $right, $bottom, $left)
	padding-top: $top
	padding-right: $right
	padding-bottom: $bottom
	padding-left: $left

/// Padding Horizontal
/// @param {Length} $right [null] - Right padding
/// @param {Length} $left [$right] - Left padding
=p-x($right, $left: $right)
	+p(null, $right, null, $left)

/// Padding Vertical
/// @param {Length} $top [null] - Top padding
/// @param {Length} $bottom [$top] - Bottom padding
=p-y($top, $bottom: $top)
	+p($top, null, $bottom, null)