.videos
	&-item
		+max(sm)
			+offset('b', 30px)

		&__header
			+r()
			+fs(0)
			+mb(15px)
			+tr()

		&_disable &__image
			opacity: 0.5
			filter: blur(8px)
		
		&__btn
			+a(0, 0)
			+size(100%)
			+bgc(transparent)
			border: none
			+tr()

		&_active:hover &__header
			opacity: 0.8

		&__title
			+fs(20px)
			line-height: 1
			+c(#e8e9f6)
			+fw(100)
			+ff('l')
			+min(sm)
				+fs(3vmax)

		&__subtitle
			+a(50%, null, null, 0)
			+w(100%)
			transform: translateY(-50%)
			+ta(center)
			+fs(17px)
			+lh(1.1)
			+mt(15px)
			+c($color-brand-1)