.greeting
	+py(30px, 150px)
	+blackout('../img/greeting-bg.jpg', true, linear-gradient( -115deg, rgb(18,80,235) 0%, rgb(12,12,22) 100%), 0.9)
	+min(sm)
		+pt(60px)
	+min(md)
		padding-bottom: 300px

	&__logo
		margin-bottom: 30px
		+min(md)
			margin-bottom: 90px

	&__row
		+min(sm)
			flex-direction: row-reverse

	@at-root
		%greeting-title
			line-height: 1.1
			font-weight: normal

	&__subtitle
		@extend %greeting-title
		font-size: 20px
		font-style: italic

		+max(sm)
			br
				display: none

		+min(md)
			font-size: 1.5vmax

	&__title
		@extend %greeting-title
		
		+my(30px)
		+ff('b')
		font-size: 34px

		+min(md)
			font-size: 2.5vmax

	&__motivation
		+ff('l')
		+fw(100)
		+fs(17px)
		+c($color-brand-2)
		text-transform: uppercase

		+min(sm)
			+fs(1.5vmax)

	&__btn
		&-outer
			margin-top: 30px

	&__column
		&-video
			+max(sm)
				+mb(30px)
		&-content
			+min(sm)
				+mt(60px)

	&__video
		
		+bgc($color-white)
		+r()
		+fs(0)
		border-radius: 5px
		padding: 5px

		&-image
			+w(100%)

		&-btn
			+a(0, 0)
			+size(100%)
			border: none
			+bgc(transparent)