.programm
	+r()
	+py(45px)
	background-color: #f2f8ff
	z-index: 1
	+min(sm)
		+py(5vmax)

	&__parallax
		+a(0, -5%)
		z-index: -1
		opacity: 0.2
		+min(sm)
			top: -2%
			opacity: 1

	&-item
		+max(sm)
			+offset('b', 30px)

		@at-root
			%programm-item-offset
				+mb(15px)
				+min(sm)
					+mb(30px)

		&__header
			+fs(0)
			@extend %programm-item-offset

		&__image
			&_opacity
				opacity: 0.5

		&__btn
			+w(100%)
			+py(15px)
			&-outer
				@extend %programm-item-offset
		
		&__list

			list-style: none
			+fs(14px)
			+min(md)
				+fs(16px)

			li
				+offset('b', 15px)